@model List<PPOK.Domain.Types.Patient>

@{ 
    int num_preview = 2;
}
<div style="margin-top: 15px; padding:5px; border: 1px solid gray; background-color: lightgray;">
    <input type="hidden" id="patient_csv" value="@string.Join(",", Model.Select(p => p.Code).ToList())" />
    <h3>Upload Preview</h3>
    <h4>Showing @Math.Min(num_preview, Model.Count) of @Model.Count Results</h4>
    <table class="table" style="background-color: white;">
        <tr>
            <th>
            </th>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
        @{int ctr = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
            if (++ctr >= num_preview)
            {
                break;
            }
        }
    </table>
</div>