@using PPOK.Domain.Service;

@{
    ViewBag.Title = "Manage Contact Preferences";
}

<h1>@ViewBag.Title</h1>

<form action="/PatientMCP/Save" method="post">

    <input type="radio" name="preference" id="PHONE" value="PHONE" required> Phone<br>
    <input type="radio" name="preference" id="TEXT" value = "TEXT" required> Text<br>
    <div>
        <input type="radio" name="preference" id="EMAIL" value="EMAIL" required> Email<br>
        <input type="radio" name="preference" id="NONE" value="NONE" required> Stop Contacting Me
    </div>

    <div class="reveal-if-active">
        Your current contact number ends in @User.Phone.Substring(User.Phone.Length - 4, 4)<br />
        If this number is incorrect, call @User.Pharmacy.Name at @User.Pharmacy.Phone
    </div><br />

    <label for="email-address">Email Address</label>
    <input type="text" id="email-address" name="email" value="@User.Email"><br />

    <button>Submit</button>

</form>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="@Url.Content("~/Scripts/MCP.js")"></script>
<script src="@Url.Content("~/Scripts/SubmitPreference.js")"></script>
<script type="text/javascript">
    @{ PPOK.Domain.Types.Patient patient;}
    @using(var service = new PatientService()){ patient = service.Get(User.Code); }
    document.getElementById("@patient.ContactPreference").checked = true;
</script>
<link rel="stylesheet"
      type="text/css"
      href="~/Content/MCP.css" />
