<div id="reload">
    <h4 id="date"></h4>

    <script>
        n = new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("date").innerHTML = "Reminders for " + m + "/" + d + "/" + y + ":";
    </script>

    <table class="table table-striped table-responsive" id="myTable">
        <thead>
            <tr>
                <th>
                    EventType
                </th>
                <th>
                    Name
                </th>
                <th>
                    Drug
                </th>
                <th>
                    Phone
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody class="list">
            @if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {
                    <tr id="@i">
                        <td id="EventType">
                            @item.EventType
                        </td>
                        <td id="name">
                            @item.LastName, @item.FirstName
                        </td>
                        <td id="descript">
                            @item.Drug
                        </td>
                        <td id="senderType">
                            @item.Phone
                        </td>
                        <td>
                            <button class="btn btn-primary cancel-button" onclick="remove(@item.EventScheduledCode, @i);" data-target="#myModalNorm">
                                Reject
                            </button>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>

<script src="~/PageScripts/ReturnTable.js?Build=@Guid.NewGuid().ToString()"></script>
<script src="~/Scripts/jquery-3.1.1.js?Build=@Guid.NewGuid().ToString()"></script>
<script src="~/Content/DataTables/datatables.min.js?Build=@Guid.NewGuid().ToString()"></script>
<script src="~/Content/DataTables/AutoFill-2.1.3/js/dataTables.autoFill.min.js?Build=@Guid.NewGuid().ToString()"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#myTable').DataTable(
            {
                "scrollY": "200px",
                "scrollCollapse": true,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "bAutoWidth": false,
                "columnDefs": [
                        { targets: 4, searchable: false }
                ]
            }
       );
        window.landingPage.init();
        window.cancelButton.init();

        $("#Load").hide();
        $("#Event").hide();
    })

</script>